<a href="https://colab.research.google.com/github/MalVaroTor/MalVaroTor/blob/main/CURSO_PYTHON_HASHTAG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# O desafio é: Colete dados de um banco de dados do drive no formato csv, busque estes dados, importe-os, trate-os e compile, e calcule o produto mais vendido, o produto que mais faturou, a loja que mais vendeu, e por fim, faça um gráfico de colunas mostrando seus faturamentos.

# Passo 01 - Percorrer todos os arquivos da pasta base de dados (Pasta Vendas)

In [ ]:
# Dica: sempre colocar as importações de bibliotecas no começo para melhor organização.

import os               # Trabalha com arquivos e pastas do pc ou de site.
import pandas as pd     # Trabalha com dados e base de dados. O 'as pd' é um
                        # apelido para o 'pandas', ou seja, pd=pandas.

lista_arquivo = os.listdir("/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas") # O '.listdir' vai listar todo um diretório (pasta). 
                                                            # Dentro dos parênteses vai a localização da pasta, 
                                                            # entre parênteses. O 'lista_arquivo' é a variável.
print(lista_arquivo)
display(lista_arquivo)

['Devolucoes - Recife.csv', 'Devolucoes - Rio de Janeiro.csv', 'Devolucoes - Porto Alegre.csv', 'Vendas - Porto Alegre.csv', 'Vendas - Recife.csv', 'Vendas - Belo Horizonte.csv', 'Devolucoes - Curitiba.csv', 'Devolucoes - São Paulo.csv', 'Vendas - Curitiba.csv', 'Vendas - Goiás.csv', 'Devolucoes - Goiás.csv', 'Vendas - Fortaleza.csv', 'Devolucoes - Belo Horizonte.csv', 'Vendas - Salvador.csv', 'Devolucoes - Salvador.csv', 'Vendas - Rio de Janeiro.csv', 'Vendas - São Paulo.csv', 'Devolucoes - Fortaleza.csv']

['Devolucoes - Recife.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Devolucoes - Porto Alegre.csv',
 'Vendas - Porto Alegre.csv',
 'Vendas - Recife.csv',
 'Vendas - Belo Horizonte.csv',
 'Devolucoes - Curitiba.csv',
 'Devolucoes - São Paulo.csv',
 'Vendas - Curitiba.csv',
 'Vendas - Goiás.csv',
 'Devolucoes - Goiás.csv',
 'Vendas - Fortaleza.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Vendas - Salvador.csv',
 'Devolucoes - Salvador.csv',
 'Vendas - Rio de Janeiro.csv',
 'Vendas - São Paulo.csv',
 'Devolucoes - Fortaleza.csv']

---
Na resposta acima, o "print(lista_arquivo)" traz uma lista de arquivos de moto vetor com todos os nomes dos arquivos de uma pasta, e difere do "display(lista_arquivo)" pelo fato que neste último ele traz uma lista de arquivos mais organizado, de forma mais aprensentavel. É isso que o "display" faz.

---

# Passo 02 - Importar a base de dados de vendas

In [ ]:
tabela_total = pd.DataFrame()   # O '.DataFrame' é nada menos que uma tabela do python.
                                # E  criamos uma tabela vazia.

for arquivo in lista_arquivo:   # Sempre assim: for variável in lista_de_itens:
    if "Vendas" in arquivo:     # Sempre assim: if condição: 
                                # Se tem Vendas no nome do arquivo, eu quero.
        print(f"/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/{arquivo}")
        # ou também: 
        # print("/content/drive/MyDrive/Vendas/{}".format(arquivo))
    # ou : 
    # if not "Devolucoes" in arquivo:
        # print(f"/content/drive/MyDrive/Vendas/{arquivo}")
        tabela = pd.read_csv(f"/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/{arquivo}")
        tabela_total = tabela_total.append(tabela)      # O .append é adicionar. 
                                                        # x = x.append(y) , isto é, adiciona y em x
display(tabela_total)

/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/Vendas - Porto Alegre.csv
/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/Vendas - Recife.csv
/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/Vendas - Belo Horizonte.csv
/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/Vendas - Curitiba.csv
/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/Vendas - Goiás.csv
/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/Vendas - Fortaleza.csv
/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/Vendas - Salvador.csv
/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/Vendas - Rio de Janeiro.csv
/content/drive/MyDrive/CÓDIGOS E BANCO DE DADOS PARA OS CURSOS PYTHON/Vendas/Vendas - São Paulo.csv

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,14,HL4379,Televisão,4,Ylana,Teraoka,6/23/2018,Porto Alegre,2500,NaN
1,34,HL1148,Câmera,1,Rubens,Netto,7/11/2018,Porto Alegre,2100,NaN
2,43,HL1148,Câmera,5,Paloma,Sperandei,9/15/2018,Porto Alegre,2100,NaN
3,49,HL8851,Notebook,5,Breno,Farias,6/24/2018,Porto Alegre,3500,NaN
4,52,HL4379,Televisão,2,Lorena,Kohn,7/31/2018,Porto Alegre,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
2221,9981,HL7348,SmartWatch,4,João,Junior,4/14/2018,São Paulo,1400,NaN
2222,9984,HL1918,iPhone,4,Itai,Puntel,5/2/2018,São Paulo,5300,NaN
2223,9985,HL1918,iPhone,1,Guilherme,Vianna,3/18/2018,São Paulo,5300,NaN
2224,9991,HL7348,SmartWatch,5,Antônio,Soares,11/21/2018,São Paulo,1400,NaN
2225,9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500,NaN

---
Na resposta acima, o "print(f"/content/drive/MyDrive/Vendas/{arquivo}")" traz o nome do caminho de cada arquivo dentro da pasta desejada.

---
O "display(tabela)" traz como resposta a tabela de dados completa, com todos os arquivos de dados dentro de uma só tabela, e isso foi graças ao comando "tabela_total = tabela_total.append(tabela)".

---

# Passo 03 - Calcular o produto mais vendido (em quantidade)

In [ ]:
tabela_produtos = tabela_total.groupby("Produto").sum() # O '.groupby' agrupa uma coluna escolhida, e exige que você 
                                                        # decida o que fazer com as outras colunas. Neste caso, 
                                                        # o '.sum' faz com que somamos os valores.

display(tabela_produtos)  # Vai retornar todas as colunas da tabela.
tabela_produtos = tabela_produtos[["Quantidade Vendida", "Preco Unitario"]] # Vai retonrar as colunas escolhidas.
                                                                            # E obrigatoriamente, por ser mais de 
                                                                            # uma coluna, tem que ter dois colchetes.
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
# tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=True)
# o 'sort_values' ordena os dados, e ascending=True traz em ordem crescente e ascending=False traz em ordem descrescente.
display(tabela_produtos)
tabela_produtos = tabela_produtos["Quantidade Vendida"]

display(tabela_produtos)        # Quando se tem apenas 1 coluna, pode-se passar 1 colchete, 
                                # porém vai trazer dados mais "feios".

            Unnamed: 0  Quantidade Vendida  Preco Unitario  Unnamed: 8
Produto
Android        5164013                3183         3631200         0.0
Câmera         4848296                2805         2020200         0.0
Notebook       5393100                3249         3717000         0.0
SmartWatch     4968367                2980         1393000         0.0
Tablet         4920118                2921         1556800         0.0
Televisão      9675708                5931         4905000         0.0
iPhone        15015399                8974        15778100         0.0

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

Produto
iPhone        8974
Televisão     5931
Notebook      3249
Android       3183
SmartWatch    2980
Tablet        2921
Câmera        2805
Name: Quantidade Vendida, dtype: int64

---
O Na resposta acima, o primeiro "display(tabela_produtos)" retorna toda a tabela com os dados calculados, neste caso, somados por causa do comando ".sum()".

---
O segundo "display(tabela_produtos)" nos traz uma tabela com apenas uma coluna desejada e organizada de forma crescente os dados.

---
No terceiro "display(tabela_produtos)" a tabela vem igual a segunda, porém com dados não em tabela (modo visual). Foi feito apenas para mostrar a diferença entre o segundo e o terceiro "display(tabela_produtos)" quando se coloca um ou dois [].

---

# Passo 04 - Calcular o produto que mais faturou (em faturamento)

In [ ]:
# Uma nova coluna tem que ser feita!
tabela_total["Faturamento"] = tabela_total["Quantidade Vendida"]*tabela_total["Preco Unitario"]
# Aqui multiplicamos cada valor da coluna Quantidade Vendida com cada valor da coluna Preco Unitario, surgindo uma
# nova coluna de Faturamento.

tabela_faturamento = tabela_total.groupby("Produto").sum()

tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)

display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

---
Podemos perceber que no resultado acima temos uma tabela com o produtos faturados, e de forma crescente os dados de baixo pra cima, no topo se encontra o item iPhone, que foi o de maior faturamento.

---

# Passo 05 - Calcular a loja/cidade que mais vendeu (em faturamento)

In [ ]:
 tabela_loja = tabela_total.groupby("Loja").sum()

tabela_loja = tabela_loja[["Faturamento"]].sort_values(by="Faturamento", ascending=False)

display(tabela_loja)

                Faturamento
Loja
São Paulo          22098300
Rio de Janeiro     14867800
Fortaleza          14087900
Salvador           13111300
Goiás               7441800
Recife              7303000
Curitiba            7060500
Porto Alegre        6868600
Belo Horizonte      6480300

---
No resultado acima temos as lojas que mais vendeu, e de forma crescente de baixo pra cima, e no topo se encontra a loja de São Paulo como a que mais vendeu.

---

# Criar um gráfico/dashboard

In [ ]:
import plotly.express as px     # O o 'plotly.express' trabalha com gráficos. 
                                # O 'as px é um apelido para o 'plotly.express', 
                                # ou seja, px=plotly.express.

grafico = px.bar(tabela_loja, x = tabela_loja.index , y = "Faturamento")    # Aqui cria o gráfico. 

# Quando se faz 'tabela_loja = tabela_total.groupby("Loja").sum()', a coluna Loja dentro de 'groupby', ela se torna
# o índice da tabela, e não o título, por isso, quando for mostrar o gráfico, a coordenada tem que ser 
# x = nome_da_tabela.index, para vir seu índice.

grafico.show() # Aqui ele mostra o gráfico.

---
No gráfico acima temos o faturamento de cada loja de forma visul e descrescente, começando por São Paulo a loja que mais vendeu para a que menos vendeu, sendo esta a de Belo Horizonte.

---